<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        table .biotable, .biotable th, .biotable td {
            border: 1px solid black;
        }
        td {
            vertical-align: top;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('public/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('public/js/popper.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    <script type="text/javascript">
        {% block js_scripts %}
        {% endblock %}
    </script>
</body>
</html>