{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <h1>Results of GENBANK analysis</h1>
        <p>&nbsp;</p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sequence-tab" data-toggle="tab" href="#sequence" role="tab" aria-controls="sequence" aria-selected="false">Sequence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab" aria-controls="reference" aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Features</a>
            </li>
        </ul>
        <p>&nbsp;</p>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <h2>Info :</h2>
                <div>
                    ID : {{ sequence.primAcc }} <br/>
                    MOL. TYPE : {{ gbsequence.strands }}<br/>
                    TOPOLOGY : {{ gbsequence.topology }}<br/>
                    DIVISION : {{ gbsequence.division }}<br/>
                    SEQ LENGTH : {{ sequence.seqlength }}<br/>
                    {% for acc in accession %}
                        ACCESSION : {{ acc.accession }}<br/>
                    {% endfor %}
                    VERSION : {{ gbsequence.version }}<br/>
                    ncbiGiId : {{ gbsequence.ncbiGiId }}<br/>
                </div>
                <hr />
                <h2>Keywords :</h2>
                {% for keyword in keywords %}
                    - {{ keyword.keywords }}
                {% endfor %}
                <hr />
                <h2>Segment info :</h2>
                SEGMENT No : {{ gbsequence.segmentno }}<br/>
                SEGMENT Count : {{ gbsequence.segmentcount }}<br/>
                SOURCE : {{ sequence.source }}<br/>
                ORGANISM : {{ sequence.organism }}<br/>
            </div>
            <div class="tab-pane fade" id="sequence" role="tabpanel" aria-labelledby="sequence-tab">
                <h2>Sequence :</h2>
                <table class="table table-striped table-bordered">
                    {% for key, line in sequence.sequence %}

                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td>
                                {% for parts in line %}
                                    {{ parts }}
                                {% endfor %}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab">
                <h2>Reference : </h2>
                {% for ref in references %}
                    <table class="table table-striped table-bordered ">
                        <tr>
                            <th scope="row">Base Range</td>
                            <td>{{ ref.baseRange }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
                <h2>Features :</h2>
                {% for feature in gbfeatures %}
                    <table class="table table-striped table-bordered ">
                        <tr>
                            <td>Key</td>
                            <td>{{ feature.ftKey }}</td>
                        </tr>
                        <tr>
                            <td>Qual</td>
                            <td>{{ feature.ftQual }}</td>
                        </tr>
                        <tr>
                            <td>Value</td>
                            <td>{{ feature.ftValue }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}