{% extends 'base.html.twig' %}
{% block title %}Distance between sequences : comparison of oligonucleotide compositions{% endblock %}
{% block body %}
    <h1>Distance between sequences : comparison of oligonucleotide composition</h1>

    <ul>
        <li>This tool will compute distance between input sequences and UPGMA clustering will be applied.</li>
        <li>Distances are shown in a table, and a dendrogram is displaied.</li>
        <li>Check carefully the results. Their value for phylogenetics is limited.</li>
    </ul>
    <p></p>

    <!-- DISPLAY TABLE WITH DISTANCES -->
    {% if oligo_array is empty %}
    {% else %}
        <table border=1>
            <tr>
                <td bgcolor=DDDDFF width=75>Distances</td>
                {% for i  in 1..oligo_array %}
                    <td bgcolor=DDDDFF width=75>{{ loop.index }}</td>
                {% endfor %}
            </tr>
            {% for key, val in data %}
                <tr>
                    <td bgcolor=DDDDFF width=75>{{ key }}</td>
                    {% for i  in 1..oligo_array %}
                        {% if data[key][i] is defined %}
                            <td>{{ data[key][i] }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <!-- DISPLAY NAME OF SEQUENCES -->

        <b>Name of sequences</b>
        <pre>
            {% for n, name in seq_names %}
                {{ name }}
            {% endfor %}
        </pre>

        <p>Length of oligoncleotides for comparison : {{ length }}</p>

        <p>Clustering method: UPGMA<br />{{ textcluster }}<p>

        <img src="/{{ dendogram_file }}?{{ "now"|date("U") }}" style="border-style: solid" />
    {% endif %}


    <p>&nbsp;</p>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}

            <div class="row">
                {{ form_widget(form.seq) }}
            </div>

            <p>&nbsp;</p>

            <div class="row">
                <div class="col-md-7">{{ form_widget(form.method.0) }} {{ form_label(form.method.0) }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form_widget(form.method.1) }} {{ form_label(form.method.1) }}</div>
                <div class="col-md-5">{{ form_widget(form.len) }}</div>
            </div>


            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_widget(form.submit) }}</div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}