{% extends 'base.html.twig' %}
{% block title %}Palindromic sequences finder{% endblock %}
{% block body %}
    <h1>Palindromic sequences finder</h1>

    {% if palindromes is empty %}
    {% else %}
        <div class="card border-info mb-3" style="font-size:0.9em">
            <div class="card-header">Palindromic sequences with length {{ min }} to {{ max }} within string</div>
            <div class="card-body">
                <table>
                    <tr>
                        <th>Position</th>
                        <th>Sequence</th>
                    </tr>
                    {% for key, palindrome in palindromes %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ palindrome }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="card">
        <h5 class="card-header">Definitions</h5>
        <span class="card-body">
            <div class="card-text">
                <h5 class="card-title">Palindromic sequence</h5>
                <p>
                    A DNA sequence whose 5'-to-3' sequence is identical on each DNA strand.
                    The sequence is the same when one strand is read left to right and the other strand is read right to left.
                    Recognition sites of many restriction enzymes are palindromic.
                </p>
            </div>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/minitools/js/dnatoprotein.js') }}"></script>
{% endblock %}
