{% extends 'base.html.twig' %}
{% block title %}Fasta upload{% endblock %}
{% block body %}
    <h1>Fasta Upload</h1>

    {% if length != 0 %}
        <p>&nbsp;</p>
        <div class="card border-info mb-3" style="font-size:0.9em">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                Total Length of Sequence is {{ length }}<br />
                Number of A = {{ a }} <br />
                Number of T = {{ t }} <br />
                Number of G = {{ g }} <br />
                Number of C = {{ c }} <br />
                % of at = {{ at }} <br />
                % of gc = {{ gc }}
            </div>
        </div>
    {% endif %}

    <p>&nbsp;</p>

    <div class="card bg-light mb-3">
        <div class="card-body">
            Important: Please use only txt files. The file should contain only letters :
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}