{% extends 'base.html.twig' %}
{% block title %}Melting Temperature (Tm) Calculation{% endblock %}
{% block body %}
    <h1>Melting Temperature (Tm) Calculation</h1>

    {% if primer != '' %}
    <div class="card border-info mb-3" style="font-size:0.9em" id="results">
        <div class="card-header">Results of your request</div>
        <div class="card-body">
            {% if primer != '' %}
                <pre>LENGTH                   {{ primer|length }}</pre>
            {% endif %}
            {% if cg != 0 %}
                <pre>C+G%                     {{ cg }}</pre>
            {% endif %}
            {% if upper_mwt != 0 %}
                {% if upper_mwt == lower_mwt %}
                    <pre>Molecular weight:        {{ upper_mwt }}</pre>
                {% else %}
                    <pre>Upper Molecular weight:  {{ upper_mwt }} - Lower Molecular weight:  {{ lower_mwt }}</pre>
                {% endif %}
            {% endif %}
            {% if basic == true %}
                <b>Basic Tm (Degenerated nucleotides are allowed)</b>
                {% if primer|length != countATGC %}
                    <pre>Minimun                     <span style="color:#880000;font-weight: bold;">{{ tm_min }} &deg;C</span></pre>
                    <pre>Maximum                     <span style="color:#880000;font-weight: bold;">{{ tm_max }} &deg;C</span></pre>
                {% else %}
                    <pre>Tm :                     <span style="color:#880000;font-weight: bold;">{{ tm_min }} &deg;C</span></pre>
                {% endif %}
            {% endif %}
            {% if nearest_neighbor == true %}
                <b>Basic Tm (Degenerated nucleotides are NOT allowed)</b>
                <pre>Tm :                     <span style="color:#880000;font-weight: bold;">{{ tmBaseStacking.tm }} &deg;C</span></pre>
                <pre><span style="color:#008800;">Enthalpy: {{ tmBaseStacking.enthalpy }}     Entropy: {{ tmBaseStacking.entropy }}</span></pre>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_label(form.primer) }}</div>
                <div class="col-md-6">{{ form_widget(form.primer) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.basic) }}</div>
                <div class="col-md-6">{{ form_widget(form.basic) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.nearestNeighbor) }}</div>
                <div class="col-md-6">{{ form_widget(form.nearestNeighbor) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.cp) }}</div>
                <div class="col-md-6">{{ form_widget(form.cp) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.cs) }}</div>
                <div class="col-md-6">{{ form_widget(form.cs) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.cmg) }}</div>
                <div class="col-md-6">{{ form_widget(form.cmg) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="card">
        <h5 class="card-header">Melting Temperature (Tm) Calculations</h5>
        <span class="card-body">
            <div class="card-text">
                <h5>Basic Melting Temperature (Tm) Calculations</h5>
                Two standard approximation calculations are used.
                <p>For sequences less than 14 nucleotides
                    the formula is:
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tm= (wA+xT) * 2 + (yG+zC) * 4
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;where w,x,y,z are the number of the bases A,T,G,C in the sequence, respectively.
                <p>For sequences longer than 13 nucleotides, the equation used is
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tm= 64.9 +41*(yG+zC-16.4)/(wA+xT+yG+zC)
                <p>When degenerated nucleotides are included in the primer sequence (Y,R,W,S,K,M,D,V,H,B or N), those nucleotides will be internally substituted prior to minimum and maximum Tm calculation.
                <p><pre>    Example:
                     Primer sequence:                            CTCT<b>RY</b>CT<b>WS</b>CTCTCT
                     Sequence for minimum Tm calculation:        CTCT<b>AT</b>CT<b>AG</b>CTCTCT
                     Sequence for maximum Tm calculation:        CTCT<b>GC</b>CT<b>AG</b>CTCTCT</pre>
                <p><b>ASSUMPTIONS:</b>
                <p>Both equations assume that the annealing occurs under the standard conditions of 50 nM primer, 50
                    mM Na<sup>+</sup>, and pH 7.0.

                <h5>Base-Stacking Melting Temperature (Tm) Calculations</h5>
                This aproximation uses Thermodynamical concepts to compute T<sub>m</sub>.
                The following references were used to develop the script:

                <p>SantaLucia J. A unified view of polymer, dumbbell, and oligonucleotide DNA nearest-neighbor
                    thermodynamics. Proc Natl Acad Sci U S A. 1998 Feb 17;95(4):1460-5.
                    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=9465037">NCBI</a>

                <p>von Ahsen N, Oellerich M, Armstrong VW, Schutz E. Application of a thermodynamic nearest-neighbor
                    model to estimate nucleic acid stability and optimize probe design: prediction of melting points
                    of multiple mutations of apolipoprotein B-3500 and factor V with a hybridization probe genotyping
                    assay on the LightCycler. Clin Chem. 1999 Dec;45(12):2094-101.
                    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=10585340">NCBI</a>
            </div>
            <p>&nbsp;</p>

            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}