{% extends 'base.html.twig' %}
{% block title %}Frequency of nucleotides and oligonucleotides in a sequence{% endblock %}
{% block body %}
    <h1>Frequency of nucleotides and oligonucleotides in a sequence</h1>
    <p>This demo is limited to oligos 1-3 bases long, and a maximum input sequence of 10000 bp. This version does not work with degenerated nucleotides</p>

    {% if results is not empty %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                <h5>Frequencie of oligos with length {{ length }}</h5>
                <table cellpadding="4">
                    <tr>
                        <th>Oligo</th>
                        <th>Frequency</th>
                    </tr>
                    {% for frequency, oligo in results %}
                        <tr>
                            <td>{{ frequency }}</td>
                            <td>{{ oligo }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}


    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.sequence) }}
                    <span>(non coding characters, as number, returns or spaces will be removed)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.len) }}</div>
                <div class="col-md-2">{{ form_widget(form.len) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_label(form.strands) }}</div>
                <div class="col-md-2">{{ form_widget(form.strands) }}</div>
            </div>

            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}