{% extends 'base.html.twig' %}
{% block title %}Protein to DNA reverse translation{% endblock %}
{% block body %}
    <h2>Protein to DNA reverse translation</h2>

    {% if sequence != "" %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                <h5>Input sequence</h5>
                <pre>{{ sequence|chunk_split(20, '<br>') }}</pre>
                <h5>Reverse Translated sequence</h5>
                <pre>{{ dna|chunk_split(60, '<br>')|atgc_sublimer('red') }}</pre>
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.sequence) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_label(form.genetic_code) }}</div>
                <div class="col-md-6">{{ form_widget(form.genetic_code) }}</div>
            </div>

            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}