{% extends 'base.html.twig' %}
{% block title %}Protein sequence information{% endblock %}
{% block body %}
    <h2>Protein sequence information</h2>

    {% if results %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                <p><b>Subsequence used for calculations :</b><br>{{ subsequence | chunk_split(70) }}</p>

                {% if aminoacids is not empty %}
                    <p><b>Aminoacid composition of protein:</b><br>
                        <table border="1">
                        <th>1 letter</th>
                        <th>3 letters</th>
                        <th>count</th>
                        {% for amino in aminoacids  %}
                            <tr>
                                <td>{{ amino.one_letter }}</td>
                                <td>{{ amino.three_letters }}</td>
                                <td>{{ amino.count }}</td>
                            </tr>
                        {% endfor %}
                    </table></p>
                {% endif %}

                {% if molweight != 0 %}
                    <p><b>Molecular weight : </b><br>{{ molweight }} Daltons</p>
                {% endif %}

                {% if abscoef != 0 %}
                    <p><b>Molar Absorption Coefficient at 280 nm : </b><br>{{ abscoef | round(2) }}</p>
                {% endif %}

                {% if charge != 0 %}
                    <p><b>Isoelectric point of sequence ({{ data_source }}) :</b><br /> {{ charge | round(2) }} </p>
                {% endif %}

                {% if charge2 != 0 %}
                    <p><b>Charge of sequence at pH = {{ pH }} ({{ data_source }}):</b><br /> {{ charge2 | round(2) }} </p>
                {% endif %}

                {% if three_letter_code != "" %}
                    <p><b>Sequence as three letters aminoacid code:</b><br>{{ three_letter_code }} </p>
                {% endif %}

                {% if colored_seq is not empty %}
                <p><b>
                        <span style="color: {{ colors.polar }}">Polar</span>,
                        <span style="color: {{ colors.nonpolar }}">Nonpolar</span></b> or <b>
                        <span style="color: {{ colors.charged }}">Charged</span></b> aminoacids:<br>
                    {% for seq in colored_seq %}
                        <span style="color:{{ seq.1 }}">{{ seq.0 }}</span>
                    {% endfor %}
                </p>
                {% endif %}

                {% if colored_seq2 is not empty %}
                <p><b>
                        <span style="color: {{ colors.polar }}">Polar</span>,
                        <span style="color: {{ colors.nonpolar }}">small non-polar</span>,
                        <span style="color: {{ colors.hydrophobic }}">hydrophobic</span>,
                        <span style="color: {{ colors.negatively_charged }}">negatively</span></b> or <b>
                        <span style="color: {{ colors.positively_charged }}">positively</span> charged</b> aminoacids:<br>
                    {% for seq in colored_seq2 %}
                        <span style="color:{{ seq.1 }}">{{ seq.0 }}</span>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.seq) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form_label(form.start) }}</div>
                <div class="col-md-2">{{ form_widget(form.start) }}</div>
            </div>

            <div class="row">
                <div class="col-md-5">{{ form_label(form.end) }}</div>
                <div class="col-md-2">{{ form_widget(form.end) }}</div>
                <div class="col-md-4"> (both included) for computation</div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.composition) }}</div>
                <div class="col-md-6">{{ form_label(form.composition) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.molweight) }}</div>
                <div class="col-md-6">{{ form_label(form.molweight) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.abscoef) }}</div>
                <div class="col-md-6">{{ form_label(form.abscoef) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.charge) }}</div>
                <div class="col-md-4">{{ form_label(form.charge) }}</div>
                <div class="col-md-2">{{ form_widget(form.data_source) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.charge2) }}</div>
                <div class="col-md-4">{{ form_label(form.charge2) }}</div>
                <div class="col-md-2">{{ form_widget(form.pH) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.three_letters) }}</div>
                <div class="col-md-6">{{ form_label(form.three_letters) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.type1) }}</div>
                <div class="col-md-6">{{ form_label(form.type1) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.type2) }}</div>
                <div class="col-md-6">{{ form_label(form.type2) }}</div>
            </div>

            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <div class="card">
        <h5 class="card-header">Protein sequence information tool</h5>
        <span class="card-body">
            <div class="card-text">
                <h5 class="card-title">Notes : </h5>
                <p>
                    Non-coding characters will be removed by default.<br />
                    <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=retrieve&db=pubmed&list_uids=7957164&dopt=abstract>NC-UIBMB</a> codes are used as a reference.
                </p>
                <h5>Computation : </h5>
                <p>
                    Molecular Weight: <br />
                <pre>
                        MW =(A*71.07)+(R*156.18)+(nN*114.08)+(nD*115.08)+(nC*103.10)
                        +(nQ*128.13)+(nE*129.11)+(nG*57.05)+(nH*137.14)+(nI*113.15)+
                        +(nL*113.15)+(nK*128.17)+(nM*131.19)+(nF*147.17)+(nP*97.11)+
                        +(nS*87.07)+(nT*101.10)+(nW*186.20)+(nY*163.17)+(nV*99.13)+18.02</pre>
                </p>
                <p> Molar absorption coefficient: <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=8563639>Pace et al., 1995</a></p>
                <p>Isoelectric point estimation: <a href=http://fields.scripps.edu/DTASelect/20010710-pI-Algorithm.pdf>Tabb D., 2003</a></p>
                Type of aminoacid (1):
                <ul>
                    <li>Polar: SCTNQHYW</li>
                    <li>Non-Polar: GAPVILFM</li>
                    <li>Charged: DEKR</li>
                </ul>
                Type of aminoacid (2):
                <ul>
                    <li>Small non-polar: SCTNQHYW (Yellow)</li>
                    <li>Hydrophobic: CVILPFYMW (Green)</li>
                    <li>Polar: DQH (Magenta)</li>
                    <li>Negatively charged: NE (Red)</li>
                    <li>Positively charged: KR (Blue)</li>
                </ul>
            </div>
            <p>&nbsp;</p>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>

{% endblock %}