{% extends 'base.html.twig' %}
{% block title %}Random sequences{% endblock %}
{% block body %}
    <h2>Random sequences</h2>

    {% if results != "" %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                <h5>Random sequences</h5>
                <pre>{{ results|chunk_split(70, '<br>') }}</pre>
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-1">
                    {{ form_widget(form.procedure.0) }}
                </div>
                <div class="col-md-11">
                    {{ form_row(form.seq) }}
                    DNA or protein nature of the sequence will be automatically detected. Non coding characters are removed by default.
                    <div class="row">
                        <div class="col-md-7">{{ form_label(form.length1) }}</div>
                        <div class="col-md-2">{{ form_widget(form.length1) }}</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    {{ form_widget(form.procedure.1) }}
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-7">{{ form_label(form.length2) }}</div>
                        <div class="col-md-2">{{ form_widget(form.length2) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">{{ form_label(form.dnaA) }}</div>
                        <div class="col-md-2">{{ form_widget(form.dnaA) }}</div>
                        <div class="col-md-1">{{ form_label(form.dnaC) }}</div>
                        <div class="col-md-2">{{ form_widget(form.dnaC) }}</div>
                        <div class="col-md-1">{{ form_label(form.dnaG) }}</div>
                        <div class="col-md-2">{{ form_widget(form.dnaG) }}</div>
                        <div class="col-md-1">{{ form_label(form.dnaT) }}</div>
                        <div class="col-md-2">{{ form_widget(form.dnaT) }}</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    {{ form_widget(form.procedure.2) }}
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-7">{{ form_label(form.length3) }}</div>
                        <div class="col-md-2">{{ form_widget(form.length3) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.a) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.a) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.c) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.c) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.d) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.d) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.e) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.e) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.f) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.f) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.g) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.g) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.h) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.h) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.i) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.i) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.k) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.k) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.l) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.l) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.m) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.m) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.n) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.n) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.p) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.p) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.q) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.q) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.r) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.r) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.s) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.s) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.t) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.t) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.v) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.v) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.w) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.w) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-sm-3">{{ form_label(form.y) }}</div>
                                <div class="col-sm-7">{{ form_widget(form.y) }}</div>
                                <div class="col-sm-2">‰</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <p></p>

    <div class="card">
        <h5 class="card-header">Definitions</h5>
        <span class="card-body">
            <div class="card-text">
                <h5 class="card-title">Notes</h5>
                <p>
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=retrieve&db=pubmed&list_uids=7957164&dopt=abstract" target="info">
                        NC-UIBMB</a> codes are used as a reference.
                    Default values are based in human genome.
                </p>
            </div>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}