{% extends 'base.html.twig' %}
{% block title %}Reduced (redundant or simplified) alphabets for proteins{% endblock %}
{% block body %}
    <h2>Reduced (redundant or simplified) alphabets for proteins</h2>
    <p></p>

    {% if reduced_seq != "" %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">

                {% if reduced_code is not empty %}
                    <h5>{{ reduced_code.Description }}</h5>
                    {% for key, element in reduced_code.Elements %}
                        {{ key }} => {{ element }}<br />
                    {% endfor %}
                    <hr />
                {% endif %}

                {% if mode == "custom" %}
                    <h5>Personalized alphabet</h5>
                    <pre>Aminoacids   : {{ "ARNDCEQGHILKMFPSTWYV" | chunk_split(aa_perline) | color_amino_custom(custom_alphabet, custom_alphabet) }}
Reduced code : {{ custom_alphabet | chunk_split(aa_perline) | color_amino_custom(custom_alphabet, custom_alphabet) }} </pre>
                    <hr />
                {% endif %}


                {% if show_reduced %}
                    <h5>Reduced alphabet</h5>
                    {% if mode == "custom" %}
                        <b><pre>{{ reduced_seq | chunk_split(aa_perline) | color_amino_custom(reduced_seq, custom_alphabet) }}</pre></b>
                    {% elseif mode == "pre" %}
                        <b><pre>{{ reduced_seq | chunk_split(aa_perline) | color_amino(reduced_seq, type) }}</pre></b>
                    {% endif %}
                    <hr />
                {% endif %}

                <h5>Colored sequence</h5>
                {% if mode == "custom" %}
                    <b><pre>{{ sequence | chunk_split(aa_perline) | color_amino_custom(reduced_seq, custom_alphabet) }}</pre></b>
                {% elseif mode == "pre" %}
                    <b><pre>{{ sequence | chunk_split(aa_perline) | color_amino(reduced_seq, type) }}</pre></b>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.seq) }}
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-1">{{ form_widget(form.mode.0) }}</div>
                <div class="col-md-11">{{ form_label(form.mode.0) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_widget(form.type) }}</div>
            </div>

            <p></p>
            <div class="row">
                <div class="col-md-1">{{ form_widget(form.mode.1) }}</div>
                <div class="col-md-11">{{ form_label(form.mode.1) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_widget(form.custom_alphabet) }}</div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-3">{{ form_label(form.aaperline) }}</div>
                <div class="col-md-2">{{ form_widget(form.aaperline) }}</div>
            </div>

            <div class="row">
                <div class="col-md-3">{{ form_label(form.show_reduced) }}</div>
                <div class="col-md-2">{{ form_widget(form.show_reduced) }}</div>
            </div>

            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <p>&nbsp;</p>

    <div class="card">
        <h5 class="card-header">How to define a custom reduced alphabet</h5>
        <span class="card-body">
            <div class="card-text">
                <p>
                    This tool was originally created to reduce protein sequences by grouping the aminoacids in classes.
                    During its development code to retrieve sequences with colours was added. Additionally, each aminoacid
                    may be displayed with a distinct colour (without applying reductions).</p>
                <p>The reduced aminoacid alphabets has been obtained from the references bellow :</p>
                <pre>
                    Li T, Fan K, Wang J, Wang W. Reduction of protein sequence
                    complexity by residue grouping. Protein Eng 2003; 5:323-330.
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=12826723&dopt=Abstract">PubMed</a>
                </pre>
                <pre>
                    Murphy LR, Wallqvist A, Levy RM. Simplified amino acid alphabets
                    for protein fold recognition and implications for folding.
                    Protein Eng 2000; 13:149-152.
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=10775656&dopt=Abstract">PubMed</a>
                </pre>
                <pre>
                    Pommi&eacute C, Levadoux S, Sabatier R, Lefranc G & Lefranc MP.
                    IMGT standardized criteria for statistical analysis of immunoglobulin
                    V-REGION amino acid properties. Journal of Molecular Recognition 2004; 17:17-32.
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=14872534&dopt=Abstract">PubMed</a>
                </pre>
                <pre>
                    Spitzer M, Fuellen G, Cullen P, Lorkowski S.
                    VisCoSe: visualization and comparison of consensus sequences.
                    Bioinformatics 2004; 20:433-435.
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=14960475&dopt=Abstract">PubMed</a>
                </pre>
                <pre>
                    Wang J, Wang W. A computational approach to simplifying the protein
                    folding alphabet. Nat Struct Biol 1999; 11:1033-1038.
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=10542095&dopt=Abstract">PubMed</a>
                </pre>
                <h5>How to define a custom reduced alphabet</h5>
                <b>The procedure is very simple</b>:
                <ul>
                    <li>one letter must be used for each group of aminoacids
                        <br>p.e.: letters A,R,C,T and D for 5 groups</li>
                    <li>aminoacid in the serie "ARNDCEQGHILKMFPSTWYV" will be substitute by letters defining the group.
                        <br> p.e: from ARNDCEQGHILKMFPSTWYV to TCDCTCDTRAACDRDTDRRA </li>
                    <li>the resulting serie of letters will be used in the form.</li>
                </ul>
                Colors will be automatically assigned to each letter of the alphabet (this behavior can not be personalized at the moment)
            </div>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}