{% extends 'base.html.twig' %}
{% block title %}Restriction enzyme digest of DNA{% endblock %}
{% block body %}
    <h2>Restriction enzyme digest of DNA</h2>
    <h3>with commercially available restriction enzymes</h3>
    <p></p>

    {% if digestion is not empty %}
    <div class="card border-info mb-3" style="font-size:0.9em" id="results">
        <div class="card-header">Results of your request</div>
        <div class="card-body">
            {% if show_code %}
                <table>
                    {% for key, val in sequence %}
                        {% if sequence.key['name'] is defined %}
                            <tr>
                                <td style="background-color: #DDDDFF">{{ sequence.key['name'] }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                {% set seq = sequence[key]['seq'] %}
                                {% set countG = seq|split('G')|length - 1 %}
                                {% set countC = seq|split('C')|length - 1 %}
                                {% set result = (countG + countC ) * 100 / seq | length %}
                                <b>Lengh of code: {{ seq|length }}</b><br />G + C = {{ result | round(1, 'floor') }} %
                                <br /><br />
                                <p>{{ seq | digest_code }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}


            <!-- OUTPUT RESTRICTION RESULTS: Start table -->
            <div class="row">
                <div class="col-md-6">
                    <table class="biotable">
                        <tr>
                            <td style="background-color: #8888AA">Restriction enzyme </td>
                            {% if sequence | length == 1 %}
                                <td style="background-color: #8888AA">Cuts</td>
                                <td style="background-color: #8888AA">Positions</td></tr>
                            {% else %}
                                {% for key, val in sequence %}
                                    <td style="background-color: #8888AA">Seq. {{ key + 1 }}</td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        {% if sequence | length == 1 %}
                            <!-- Only one input sequence available -->
                            {% for enzyme, val in digestion.0 %}
                                <tr>
                                    <td style="width:300px">
                                        <a href="#" class="vendor_link" id="{{ enzymes_array[enzyme][0] }}">{{ enzymes_array[enzyme][0] }}</a>
                                        <pre>{{ enzymes_array[enzyme][1] }}</pre>
                                    </td>
                                    <td>
                                        {% if '#' in enzyme %}
                                            {{ (digestion[0][enzyme]["cuts"] | length) * 2 }}
                                        {% else %}
                                            {{ (digestion[0][enzyme]["cuts"] | length) }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for pos, v in digestion[0][enzyme]["cuts"] %}
                                            {% if '#' in enzyme %}
                                                {% set second_cut = pos + enzymes_array[enzyme][3] - enzymes_array[enzyme][4] %}
                                                {{ pos / second_cut }}
                                            {% else %}
                                                {{ pos }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <!-- Two or more sequence available -->
                            {% for enzyme, val in enzymes_array %}
                                {% for key, data in digestion_multi %}
                                    {% if data == enzyme %}
                                        <tr>
                                            <td style="width:300px">
                                                <a href="#" class="vendor_link" id="{{ enzymes_array[enzyme][0] }}">{{ enzymes_array[enzyme][0] }}</a>
                                                <pre>{{ enzymes_array[enzyme][1] }}</pre>
                                            </td>
                                            {% for number, val2 in sequence %}
                                                {% if digestion[number][enzyme] is defined %}
                                                    <td valign=top nowrap>
                                                        {% for pos, nothing in digestion[number][enzyme]["cuts"] %}
                                                            {% if "#" in enzyme %}
                                                                {% set second_cut = pos + enzymes_array[enzyme][3] - enzymes_array[enzyme][4] %}
                                                                {{ pos / second_cut }}
                                                            {% else %}
                                                                {{ pos }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                {% else %}
                                                    <td>&nbsp;</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-6" id="vendors" style="background-color:#d6e9c6; width: 100%; height: 100%">

                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.sequence) }}
                </div>
            </div>
            <p></p>

            <div class="row">
                <div class="col-md-5">{{ form_label(form.showcode) }}</div>
                <div class="col-md-2">{{ form_widget(form.showcode) }}</div>
            </div>

            <div class="row">
                <div class="col-md-5">{{ form_label(form.minimum) }}</div>
                <div class="col-md-2">{{ form_widget(form.minimum) }}</div>
            </div>

            <div class="row">
                <div class="col-md-5">{{ form_label(form.retype) }}</div>
                <div class="col-md-2">{{ form_widget(form.retype) }}</div>
            </div>

            <div class="row">
                <div class="col-md-5">{{ form_label(form.wre) }}</div>
                <div class="col-md-2">{{ form_widget(form.wre) }}</div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.defined) }}</div>
                <div class="col-md-10">{{ form_label(form.defined) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.IIb) }}</div>
                <div class="col-md-10">{{ form_label(form.IIb) }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">{{ form_widget(form.IIs) }}</div>
                <div class="col-md-10">{{ form_label(form.IIs) }}</div>
            </div>

            <hr />

            <p>When two or more input sequences are searched : </p>
            <div class="row">
                <div class="col-md-1">{{ form_widget(form.onlydiff) }}</div>
                <div class="col-md-10">{{ form_label(form.onlydiff) }}</div>
            </div>


            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block js_scripts %}
        $(".vendor_link").click(function() {
            $.ajax({
                url : '/minitools/show-vendors/' + $(this).attr("id"),
                type: 'GET',
                dataType: 'json'
            })
            .done(function(data) {
                $("#vendors").html('');
                $("#vendors").append('<br />');
                $("#vendors").append('<p>'+data.message+'</p>');
                $.each(data.vendors, function( index, value ) {
                    $("#vendors").append('<h5>'+index+'</h5> > <a href="'+value.company.url+'">REBASE</a>');
                    var urls = '<br />';
                    $.each(value.links, function( key, url ) {
                        urls = urls + '<li><a href="'+url.url+'">'+url.name+'</a></li>';
                    });
                    $("#vendors").append('<ul>'+urls+'</ul>');
                    $("#vendors").append('<hr />');
                });
            });
        });
{% endblock %}