{% extends 'base.html.twig' %}
{% block title %}Alignment of two DNA, RNA or protein sequences{% endblock %}
{% block body %}
    <h2>Alignment of two DNA, RNA or protein sequences</h2>
    <p></p>
    {% if compare != "" %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                {{ compare | dispose_sequences(align_seqa, align_seqb) }}
                <hr />
                {{ sequence1 }} : <br /><input type="text" value="{{ align_seqa }}" size="100"><br />
                {{ sequence2 }} : <br /><input type="text" value="{{ align_seqb }}" size="100">
            </div>
        </div>
    {% endif %}

    <p></p>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-1">{{ form_label(form.id1) }}</div>
                <div class="col-md-3">{{ form_widget(form.id1) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.sequence) }}
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-1">{{ form_label(form.id2) }}</div>
                <div class="col-md-3">{{ form_widget(form.id2) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.sequence2) }}
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <div class="card">
        <h5 class="card-header">Alignment of two DNA sequences</h5>
        <span class="card-body">
            <div class="card-text">
                This script has been adapted to PHP scripting language from the
                original version written in Visual Basic for Applications and available on a
                Excel page <a href="http://webpages.ull.es/users/jmhernan/">here </a>.
                <br />
                <br />
                The alignment method is the Smith-Waterman type (Smith, T. F., &amp; M. S.
                Waterman. 1981. Identification of common molecular subsequences.
                Journal of Molecular Biology 147:195-197.
                <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=7265238">PubMed</a>).
                To run the program, paste the
                DNA or RNA sequences in the form and submit the data. <br>
                <br>
                Alignment is shown on the response page, and sequences with gabs are at the bottom.
            </div>
            <p></p>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}