{% extends 'base.html.twig' %}
{% block title %}Alignment of two DNA, RNA or protein sequences{% endblock %}
{% block body %}
    <h2>DNA Sequence manipulation</h2>
    <p></p>
    {% if result != "" %}
        <div class="card border-info mb-3" style="font-size:0.9em" id="results">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                {{ result | chunk_split(70) }}
            </div>
        </div>

    {% endif %}
    <p></p>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.seq) }}
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-4">{{ form_widget(form.action) }}</div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-4">{{ form_label(form.start) }}</div>
                <div class="col-md-1">{{ form_widget(form.start) }}</div>
                <div class="col-md-2">{{ form_label(form.end) }}</div>
                <div class="col-md-1">{{ form_widget(form.end) }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">{{ form_widget(form.GC) }}</div>
                <div class="col-md-3">{{ form_label(form.GC) }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">{{ form_widget(form.ACGT) }}</div>
                <div class="col-md-3">{{ form_label(form.ACGT) }}</div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.submit) }}</div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    <div class="card">
        <h5 class="card-header">DNA sequence manipulation</h5>
        <span class="card-body">
            <div class="card-text">
                <b>NOTES</b>:
                <br>Non-coding characters will be removed by default, and X is replaced by N.
                <br><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=retrieve&db=pubmed&list_uids=7957164&dopt=abstract">NC-UIBMB</a>
                codes are used as a reference.
            </div>
            <p></p>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>
{% endblock %}