{% extends '@App/base.html.twig' %}
{% block title %}Graphical representation of genomes and oligonucleotide frequencies{% endblock %}
{% block js_scripts %}
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
{% endblock %}
{% block body %}
    <h1>Graphical representation of genomes and oligonucleotide frequencies (FCGR)</h1>

    {% if oligos is null %}
    {% else %}
        <p>&nbsp;</p>
        <div class="card border-info mb-3" style="font-size:0.9em">
            <div class="card-header">Results of your request</div>
            <div class="card-body">
                {% if(is_map == 1) %}
                    <map name = "Kaixo">
                        {% for seq, area in areas %}
                            <area class="mapseq" data-toggle="tooltip" data-placement="top" title="{{ seq }} => {{ oligos[seq] }}" coords="{{ area.0 }}, {{ area.1 }}, {{ area.2 }}, {{ area.3 }}" shape="rect" />
                        {% endfor %}
                    </map>
                    <img usemap="#Kaixo" src="/FCGR.png?{{ "now"|date("U") }}" style="width:552px;max-height:552px;" />
                {% else %}
                    <img src="/FCGR.png?{{ "now"|date("U") }}" style="width:552px;max-height:552px;" />
                {% endif %}

                <div id="txt"></div>

                {% if show_as_freq ==1 %}
                    <p>Raw data used to generate images above : </p>
                    <table>
                        <tr>
                            <th style="width:200px">Sequence</th>
                            <th>Occurences</th>
                        </tr>
                    {% for oligo, freq in oligos %}
                        <tr>
                            <td style="width:200px">{{ oligo }}</td>
                            <td>{{ freq }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <p>&nbsp;</p>
    {{ form(form) }}
    {% do form.size.setRendered %}
    <p>&nbsp;</p>

    <div class="card">
        <h5 class="card-header">Protein sequence information tool</h5>
        <span class="card-body">
            <div class="card-text">
                <h5>Chaos Game Representation of Frequencies (FCGR)</h5>
                <p>
                    as described by <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=10563018 target=new>Deschavanne <i>at al</i>.</a> (1999).<br />
                    <br>Represents frequencies of oligonucleotides.
                </p>
                <p>
                    This script has been extracted from online tools at <a href=http://insilico.ehu.es/>insilico.ehu.es</a>.<br />
                    CGR images for all sequenced bacterial genomes are available <a href=http://insilico.ehu.es/describe/>here</a><br />
                    To understand how CGR images are generated, check <a href=http://insilico.ehu.es/describe/CGR/info_position_CGR.html>here</a><br />
                    Example representations for <i>E. coli</i> K12 :
                    <a href=http://insilico.ehu.es/mini_tools/CGR-FCGR/E_coli_K12_CGR.html>CGR</a>,
                    <a href=http://insilico.ehu.es/mini_tools/CGR-FCGR/E_coli_K12_FCGR.html>FCGR</a>
                </p>
            </div>
            <p>&nbsp;</p>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>

{% endblock %}