{% extends '@App/base.html.twig' %}
{% block title %}Graphical representation of genomes and oligonucleotide frequencies{% endblock %}
{% block body %}
    <h1>Graphical representation of genomes and oligonucleotide frequencies (CGR)</h1>

    <div class="card border-info mb-3" style="font-size:0.9em">
        <div class="card-header">Results of your request</div>
        <div class="card-body">
            <img src="/CGR.png?{{ "now"|date("U") }}" border="1" />
        </div>
    </div>

    <p>&nbsp;</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.seq) }}
    {{ form_row(form.size) }}
    {{ form_row(form.seq_name) }}
    <p></p>
    {{ form_row(form.submit, { 'label': 'Create CGR image' }) }}
    {% do form.s.setRendered %}
    {% do form.len.setRendered %}
    {% do form.map.setRendered %}
    {% do form.freq.setRendered %}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <p>&nbsp;</p>

    <div class="card">
        <h5 class="card-header">Protein sequence information tool</h5>
        <span class="card-body">
            <div class="card-text">
                <h5 class="card-title">Chaos Game Representation (CGR) </h5>
                <p>
                    as described by <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=2336393 target=new>Jeffrey</a> (1990).<br />
                    Represents DNA primary sequence organization.
                </p>
                <p>
                    This script has been extracted from online tools at <a href=http://insilico.ehu.es/>insilico.ehu.es</a>.<br />
                    CGR images for all sequenced bacterial genomes are available <a href=http://insilico.ehu.es/describe/>here</a><br />
                    To understand how CGR images are generated, check <a href=http://insilico.ehu.es/describe/CGR/info_position_CGR.html>here</a><br />
                    Example representations for <i>E. coli</i> K12 :
                    <a href=http://insilico.ehu.es/mini_tools/CGR-FCGR/E_coli_K12_CGR.html>CGR</a>,
                    <a href=http://insilico.ehu.es/mini_tools/CGR-FCGR/E_coli_K12_FCGR.html>FCGR</a>
                </p>
            </div>
            <p>&nbsp;</p>
            <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
        </span>
    </div>

{% endblock %}